extends layout 


block content 
    .container-fluid.mt-3
        .row 
            .col-2
                .list-group.list-group-flush.small
                    a.list-group-item.list-group-item-action(href="",style="background:#192a56;color:white") Study Topics
                    each cat in topics
                        a.list-group-item.list-group-item-action(href="") #{cat.title}
                   

            .col-10
                .card.mb-2
                    .card-body 
                        h5 #{post.p_title}
                        p.small #{post.content}
                            img(src="/" + post.image, alt="").w-25.float-start.px-2.py-3
                .card.border-0
                    .card-header You may also like 
                    .card-body.border-0
                        .row
                            each p in related_posts 
                                .col-3
                                    .card.border-0.shadow.mb-3
                                        img(src="/"+p.image, alt="",style="object-fit:cover;height:200px")
                                        .card-body
                                            h5.small.text-truncate #{p.p_title}
                                            a.float-end(href="/post/"+p.p_id).stretched-link
                                   

            
    